<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/css/base.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <header>
        <img src="/templates/img/doxa.jpeg" height="93px" width="343px">
        <nav>
            <ul>
                <li><a href="feedbacks.html"> Meus Feedbacks </a></li>
                <li><a href="grupo.html"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>

        </section>
    </main>

    <footer>
        
    </footer>
    
</body>
</html>