.header-login {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 12px;
    border: 2.5px solid black;
    width: 230px;
    height: 50px;
}

button {
    background-color: #7DD856;
    color: black;
    padding: 10px 15px;
    border: 2.0px solid black;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #4caf50;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.container-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.container-logar {
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: center;
}