<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/inicio.css">
    <link rel="stylesheet" href="/client/css/feedbacks-anteriores.css">
    <title>Doxa - Comparativo</title>
</head>

<body>
    <header class="header">

        <div>
            <img src="/client/content/doxa.jpeg" height="93px" width="343px">
        </div>

        <nav>
            <ul>
                <li><a href="/client/html/inicio.html" class="barra-verde"> Meus Feedbacks</a></li>
                <li><a href="/client/html/grupo.html" class="barra-verde"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <h2>Futuro gráfico</h2>

</body>

</html>