<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/inicio.css">
    <link rel="stylesheet" href="/client/css/feedbacks-anteriores.css">
    <title>Doxa - Comparativo</title>
</head>

<body>
    <header class="header">

        <div>
            <img src="/client/content/doxa.jpeg" height="93px" width="343px">
        </div>

        <nav>
            <ul>
                <li><a href="/client/html/inicio.html" class="barra-verde"> Meus Feedbacks</a></li>
                <li><a href="/client/html/grupo.html" class="barra-verde"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <h2>Futuro gráfico</h2>
    <canvas id="grafico1"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('grafico1');
       
        new Chart(ctx, {
        title: 'Gráfico',
        type: 'line',
        data: {
        labels: ['12/09/23', '13/09/23', '14/09/23', '13/09/23', '14/09/23'],
        datasets: [{
        label: 'Notas',
        data: [3, 4, 5, 1, 2],
        borderWidth: 1,
        tension: 0.3
        }]
        },
        options: {
                scales: {
                y: {
                    type: 'linear',
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
                }
        }});
    </script>

</body>

</html>