<div>
    <header class="header">
        <img class="doxa-logo-header" src="../content/doxa-logo.svg">
        <div class="buttons-header">
            <div class="dropdown">
            <button class="buttons-header-item form-control btn btn-primary"
                class="buttons-header-item  form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                ng-click="logOut()">Sair</button>
        </div>
    </header>
    <div style="display: flex; justify-content: center; margin-top: 5vh;">
        <div class="my-group-main-card">
            <div class="card-content">
                <div class="old-feedbacks-card-content">
                    <div class="div-every-feedback" style="display: flex; flex-direction: column;">
                        <div class="input-group mb-3" style="margin-top: 10vh;">
                            <h1 style="color: #83ca55; font-size: 25px; font-weight: bolder; margin-right: 1vw;">
                                Grupo: </h1>
                            <input type="text" class="form-control" placeholder="Nome do grupo" aria-label="Username"
                                aria-describedby="basic-addon1" ng-model="group.name"
                                style="border-radius: 20px; border-color: #83ca55; border-width: 2px; border-style: solid; width: 20vw;">
                        </div>
                        <button class="buttons-header-item  form-control btn btn-outline-light"
                            style=" border-radius: 20px;background-color: #84ca555d; border-color: #83ca55; border-width: 2px; color: #456d39; font-weight: bold; padding-left: 20px; padding-right: 20px; width: 10vw; margin-top: 8vh; margin-bottom: 2vh; align-self: center;"
                            ng-click="createGroup()">
                            Criar grupo
                        </button>
                        <button class="buttons-header-item  form-control btn btn-outline-light" ui-sref="led-groups"
                            style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px; width: 10vw; margin-top: 2vh; margin-bottom: 2vh; align-self: center;">
                            Voltar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>