<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doxa - Feedback passado</title>
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/inicio.css">
    <link rel="stylesheet" href="/client/css/feedbacks-anteriores.css">

</head>

<body>
    <header class="header">

        <div>
            <img src="/client/content/doxa.jpeg" height="93px" width="343px">
        </div>

        <nav>
            <ul>
                <li><a href="/client/html/inicio.html" class="barra-verde"> Meus Feedbacks</a></li>
                <li><a href="/client/html/grupo.html" class="barra-verde"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <section class="referencia-grupos">
        <p>Grupo</p>
        <p>Líder</p>
        <p>Data</p>
    </section>

    <section class="card-grupo">

        <a href="/client/html/inicio.html">
            <div class="card-grupo-shadow">
                <div class="card-grupo-content">
                    <p>Grupo bom</p>
                    <p>Otávio</p>
                    <p>20/01/2024</p>
                </div>
            </div>
        </a>
    </section>

    <section class="card-feedback-atual">

        <div class="card-feedback-shadow">

            <div class="card-content">

                <div class="media-atual">
                    <div>
                        <h2 class="texto-media-atual">Desempenho médio</h2>
                    </div>

                    <div class="numero-media-atual">
                        <p id="resultado-media">0.00</p>
                        <p id="nota-maxima-comparacao">/ 5.00</p>
                        <img src="/client/content/star.svg" alt="estrelas">
                    </div>
                </div>

                <div class="green-line"></div>

                <div class="notas-atuais">

                    <div class="skills-card">

                        <h3 class="texto-media-atual">Hard Skills</h3>

                        <div class="skills-nota">
                            <p>Skill 1:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>
                        </div>
                        <div class="skills-nota">
                            <p>Skill 2:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>
                        </div>
                        <div class="skills-nota">
                            <p>Skill 3:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>

                        </div>

                        <h3 class="texto-media-atual">Soft Skills</h3>

                        <div class="skills-nota">
                            <p>Skill 1:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>
                        </div>
                        <div class="skills-nota">
                            <p>Skill 2:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>
                        </div>
                        <div class="skills-nota">
                            <p>Skill 3:</p>
                            <div class="text-skills">
                                <p>0.00</p>
                                <img src="/client/content/star.svg" alt="e" id="star-skills">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>