<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doxa - Grupo</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grupo.css">
</head>

<body>

    <header class="header">

        <div>
            <img src="/client/content/doxa.jpeg" height="93px" width="343px">
        </div>

        <nav>
            <ul>
                <li><a href="/client/html/inicio.html" class="barra-verde"> Meus Feedbacks</a></li>
                <li><a href="/client/html/grupo.html" class="barra-verde"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <section class="card-grupo">

        <div class="card-info-content">
            <div class="card-info">
                <div class="card-info-grupo">

                    <p>Grupo:</p>

                    <div class="card-nome-grupo">
                        <p class="texto">Time bom</p>
                    </div>

                </div>

                <div class="card-info-grupo">

                    <p>Lider:</p>

                    <div class="card-nome-grupo">
                        <p class="texto">Otávio</p>
                    </div>

                </div>
            </div>

            <a href="/client/html/sem-grupo.html" class="link-sair-grupo">Sair do grupo</a>

        </div>

        <div class="card-participantes">

            <p>Participantes:</p>
            <div class="lista-participantes">
                <img src="/client/content/bola.svg">
                <p>Abnadabe dabe</p>
            </div>

        </div>
    </section>

</body>

</html>