<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/login.css">
    <title>Doxa - Login</title>

</head>

<body>
    <header class="header-login">

        <img src="/client/content/doxa.jpeg" width="230">

    </header>

    <main class="container-main">

        <section class="container">

            <div>
                <h2 class="login-text">Login</h2>
            </div>

            <form id="LoginForm" onsubmit="return salvarInformacoes()">

                <div class="container-login">
                    <input type="email" id="email" name="email" placeholder="Email" autocomplete="on" required>

                    <input type="password" id="senha" name="senha" placeholder="Senha" autocomplete="on" required>

                </div>

                <div class="container-logar">
                    <button type="submit">Entrar</button>
                </div>

            </form>

        </section>
    </main>

    <footer>

    </footer>

    <script>

        function salvarInformacoes() {
            var email = document.getElementById("email");
            var senha = document.getElementById("senha");

            console.log(email)
            console.log(senha)

            window.location.href = "/client/html/inicio.html";

            return false
        }
    </script>



</body>

</html>