<div class="mainDiv">
    <img class="login-background-image" src="/content/img/login-background.png" />
    <div class="container-login">
        <div class="login-form-container">
            <div class="doxa-logo-container-login">
                <img class="doxa-logo" src="../content/doxa-logo.svg">
            </div>
            <form class="form-login">
                <div class="login-container-form-item">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="text" ng-model="user.email" ng-required="true" ng-minlength="10"
                        placeholder=""
                        style=" border-width: 3px; border-radius: 20px; border-color: #456d38; height: 5vh;" />
                </div>
                <div class="login-container-form-item">
                    <label for="password">Password</label>
                    <input id="login-input" class="form-control" type="password" ng-model="user.password"
                        ng-minlength="6" ng-required="true" placeholder=""
                        style=" border-width: 3px; border-radius: 20px; border-color: #456d38; height: 5vh;" />
                </div>
                <div class="login-container-form-item">
                    <button class="btn btn-block login-btn" ng-click="login()"
                        ng-disabled="!user.email || !user.password">Login</button>
                </div>
            </form>
            <div style="display: flex; justify-content: center; align-items: center; padding-top: 16px;">
                <a ui-sref="sign-up" style="cursor: pointer; color: #456d38; text-decoration: none">Cadastre-se</a>
            </div>
        </div>
    </div>
</div>