<div>
    <header class="header">
        <img class="doxa-logo-header" src="../content/doxa-logo.svg">
        <div class="buttons-header">
            <div class="dropdown">
                <button
                    style="background-color: #83ca55; border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px; margin-right: 10px;"
                    class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Meus feedbacks
                </button>
                <ul style="border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                    class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" ui-sref="start-page">Feedback atual</a></li>
                    <li><a class="dropdown-item" ui-sref="old-feedbacks">Feedback passado</a></li>
                </ul>
            </div>
            <button class="buttons-header-item  form-control btn btn-outline-light" ui-sref="my-groups"
                style="background-color: #83ca55; border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px; margin-right: 10px;">Grupos</button>
            <button class="buttons-header-item form-control btn btn-primary"
                class="buttons-header-item  form-control btn btn-outline-light" ui-sref="login"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                ng-click="logOut()">Sair</button>
        </div>
    </header>
    <div class="groups-card-div">
        <div class="my-group-name-main-card">
            <div class="card-content" style="display: flex; flex-direction: column;">
                <div>
                    <h1 class="card-text-title"> Grupo: </h1>
                    <h4 class="card-text-content">{{ group.name }}</h4>
                </div>
                <div>
                    <h1 class="card-text-title">Lider:</h1>
                    <h4 class="card-text-content">{{ group.admin.name }}</h1>
                </div>
            </div>
        </div>
        <div class="my-group-main-card">
            <div class="card-content">
                <div class="old-feedbacks-card-content">
                    <div class="div-every-feedback" style="display: flex; flex-direction: column;">
                        <h1 class="card-text-content">Integrantes:</h1>
                        <table class="table" style="margin-top: 2vh; width: 50vw;">
                            <tr ng-repeat="member in group.members">
                                <td class="td-item"
                                    style="font-weight: 500; font-size: 15px;color: #456d39; text-align: left;">
                                    {{ member.User.name }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>