<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doxa - Sem grupo</title>

    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/grupo.css">
</head>

<body>
    <header class="header">

        <div>
            <img src="/client/content/doxa.jpeg" height="93px" width="343px">
        </div>

        <nav>
            <ul>
                <li><a href="/client/html/inicio.html" class="barra-verde"> Meus Feedbacks</a></li>
                <li><a href="#" class="barra-verde"> Grupo </a></li>
            </ul>
        </nav>
    </header>

    <section class="card-aviso">

        <div class="aviso-texto">
            <p class="texto-maior">Atualmente você não possui grupo</p>
            <p>Espere um lider adiciona-lo</p>
        </div>

        <div class="link-inicio">
            <img src="/client/content/seta-voltar.svg" alt="">
            <a href="/client/html/inicio.html" class="link-verde">Voltar ao início</a>
        </div>
    </section>

</body>

</html>