<div>
    <header class="header">
        <img class="doxa-logo-header" src="../content/doxa-logo.svg">
        <div class="buttons-header">
            <button class="buttons-header-item form-control btn btn-primary"
                class="buttons-header-item  form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                ng-click="goBackToOldFeedbacks()">voltar
            </button>
            <button class="buttons-header-item form-control btn btn-primary"
                class="buttons-header-item  form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                ng-click="logOut()">Sair
            </button>
        </div>
    </header>
    <div class="specific-feedback-table-div">
        <table class="table table-bordered"
            style="border-color: #456d3981; border-style: solid; border-width: 0.5px; margin-top: 2vh;">
            <tr>
                <th class="table-header-item" style="font-weight: bold; font-size: 15px;color: #456d39">
                    grupo</th>
                <th class="table-header-item" style="font-weight: bold; font-size: 15px;color: #456d39">
                    lider</th>
                <th class="table-header-item" style="font-weight: bold; font-size: 15px;color: #456d39">
                    data
                </th>
            </tr>
            <tr>
                <td class="td-item" style="font-weight: 500; font-size: 15px;color: #456d39">
                    {{ data.group_name }}
                </td>
                <td class="td-item" style="font-weight: 500; font-size: 15px;color: #456d39">
                    {{ data.admin_name }}
                </td>
                <td class="td-item" style="font-weight: 500; font-size: 15px;color: #456d39">
                    {{ data.feedback_date | date: DD/MM/YYYY }}
                </td>
            </tr>
        </table>
    </div>
    <div class="feedback-div">
        <div class="feedback-main-card">
            <div class="card-content">
                <div class="media-atual">
                    <div>
                        <h2 class="texto-media-atual">Desempenho médio</h2>
                    </div>
                    <div class="numero-media-atual">
                        <p id="resultado-media">{{ feedback.average_score.toFixed(2) }}</p>
                        <p id="nota-maxima-comparacao">/ 5.00</p>
                    </div>
                </div>
                <div class="green-line"></div>
                <div class="notas-atuais">
                    <div class="skills-card">
                        <div class="skills-type-card">
                            <h3 class="texto-media-atual">Hard Skills</h3>
                            <div class="skills-nota" ng-repeat="hardSkill in skills.hard">
                                <p>{{ hardSkill.title }}:</p>
                                <div class="text-skills">
                                    <p>{{ hardSkill.score.toFixed(2) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-type-card">
                            <h3 class="texto-media-atual">Soft Skills</h3>
                            <div class="skills-nota" ng-repeat="softSkill in skills.soft">
                                <p>{{ softSkill.title }}:</p>
                                <div class="text-skills">
                                    <p>{{ softSkill.score.toFixed(2) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>