<div>
    <header class="header">
        <img class="doxa-logo-header" src="../content/doxa-logo.svg">
        <div class="buttons-header">
            <div class="dropdown">
            <button class="buttons-header-item form-control btn btn-primary"
                class="buttons-header-item  form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px;"
                ng-click="logOut()">Sair</button>
        </div>
    </header>
    <div class="groups-card-div">
        <div
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 2vw;">
            <div class="led-group-name-main-card">
                <div class="card-content" style="display: flex; flex-direction: column;">
                    <div>
                        <h1 class="card-text-title"> Grupo: </h1>
                        <h4 class="card-text-content">{{ group.name }}</h4>
                    </div>
                    <div>
                        <h1 class="card-text-title">Lider:</h1>
                        <h4 class="card-text-content">{{ group.admin.name }}</h1>
                    </div>
                </div>
            </div>
            <button class="form-control btn btn-outline-light" ui-sref="add-user"
                style="background-color: #84ca5557; border-radius: 20px; border-width: 3px; border-color: #83ca55;color:#84ca55; font-weight: bold;width: 15vw; margin-top: 15vh;">
                Adicionar usuário</button>
            <button class=" form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: red; border-width: 2px; color: red; font-weight: bold; padding-left: 20px; padding-right: 20px; width: 15vw; margin-top: 2vh; text-align: center;"
                ng-click="deleteGroup()"
                >Apagar grupo</button>
            <button class=" form-control btn btn-outline-light"
                style=" border-radius: 20px; border-color: black; border-width: 2px; color: black; font-weight: bold; padding-left: 20px; padding-right: 20px; width: 15vw; margin-top: 2vh; text-align: center;"
                ng-click="goBackToLedGroups()">
                Voltar</button>
        </div>
        <div class="my-group-main-card">
            <div class="card-content">
                <div class="old-feedbacks-card-content">
                    <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" ng-hide="group.members.length">
                        <p style="font-size: 20px; color: #456d39;">Nenhum usuário adcionado ao grupo</p>
                    </div>
                    <div class="div-every-feedback" style="display: flex; flex-direction: column;" ng-show="group.members.length">
                        <table class="table table-bordered" style="margin-top: 2vh; width: 50vw;">
                            <tr>
                                <th class="table-header-item" style="font-weight: bold; font-size: 15px;color: #456d39">
                                    Integrante</th>
                                <th class="table-header-item" style="font-weight: bold; font-size: 15px;color: #456d39">

                                </th>
                            </tr>
                            <tr ng-repeat="member in group.members">
                                <td class="td-item"
                                    style="font-weight: 500; font-size: 15px;color: #456d39; text-align: center;" ng-click="giveFeedback(member.User)">
                                        {{ member.User.name }}
                                </td>
                                <td class="td-item"
                                    style="font-weight: 500; font-size: 15px;color: #456d39; text-align: center; cursor: pointer;" ng-click="removeMember(member.id)">
                                    Remover usuário
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>